<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dsx.app.mapper.PersonMapper">
    <resultMap id="BaseResultMap" type="cn.dsx.app.pojo.Person">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name
  </sql>
    <select id="selectByPage" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from person
        <if test="pageIndex!=null and pageNumber!=null">
            limit #{pageIndex},#{pageNumber}
        </if>
    </select>
    <select id="selectByRowBounds" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from person
    </select>
    <insert id="insert" parameterType="cn.dsx.app.pojo.Person">
    insert into person (id, name)
    values ( #{id,jdbcType=VARCHAR},  #{name,jdbcType=VARCHAR})
  </insert>
</mapper>